# LangChain Core
langchain
langchain-core
langchain_experimental
langchain-chroma
chromadb
faiss-cpu
tiktoken
wikipedia

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

pydantic

# built in tools
duckduckgo_search
langchain_experimental # for the built-in ShellTool
